<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Main.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Main.Properties.Settings>
            <setting name="FullscreenResolution" serializeAs="String">
                <value>1280, 800</value>
            </setting>
            <setting name="WindowResolution" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="Heightmap" serializeAs="String">
                <value>Heightmaps/Heightmap1</value>
            </setting>
            <setting name="Bumpiness" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Texture" serializeAs="String">
                <value>Textures/Rock</value>
            </setting>
            <setting name="FrustumCullingEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HeightmapEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TextureEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LightDirection" serializeAs="String">
                <value>1, -1, 0</value>
            </setting>
            <setting name="LightDiffuse" serializeAs="String">
                <value>1, 1, 1</value>
            </setting>
            <setting name="LightAmbient" serializeAs="String">
                <value>0.2, 0.2, 0.2</value>
            </setting>
            <setting name="Quality" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="BruteForceEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackgroundColor" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="LightSpecular" serializeAs="String">
                <value>0, 0, 0</value>
            </setting>
            <setting name="LightShininess" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="GeomorphEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TerrainColor" serializeAs="String">
                <value>200, 200, 200, 255</value>
            </setting>
            <setting name="TextureResolution" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="BlockSize" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="Terrain" serializeAs="String">
                <value>Quadtree</value>
            </setting>
            <setting name="MinQuality" serializeAs="String">
                <value>8</value>
            </setting>
        </Main.Properties.Settings>
    </userSettings>
</configuration>