<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Camera.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Camera.Properties.Settings>
            <setting name="MouseSpeed" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="MovementSpeed" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RotationSpeed" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MovementBoost" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FieldOfView" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="NearPlaneDistance" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="FarPlaneDistance" serializeAs="String">
                <value>10000</value>
            </setting>
        </Camera.Properties.Settings>
    </userSettings>
</configuration>